<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav-home.html %}

    <div class="bs-pageheader hidden-print">
      <div class="container">
        {% include page-header.html %}
      </div>
    </div>
    
    <div class="visible-print-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">http://mc-gt07-ifcint.bimstandards.fr</li>
              <li class="breadcrumb-item">{{ page.group }}</li>
              <li class="breadcrumb-item">{{ page.title }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="bs-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 push-lg-9 hidden-print">
            <div id="toc"></div>
          </div>
          <div class="col-lg-9 pull-lg-3 bs-content">
            <div class="row">
              <div class="col-12 bs-content-header hidden-print">
                {% include content-header.html %}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h1>{{ page.titre }}</h1>
              </div>
            </div>
            <dl class="row">
              <dt class="col-sm-3">Source</dt>
              <dd class="col-sm-9"><strong>{{ page.source_nom }}</strong> / {{ page.source_version }}</dd>
              <dd class="col-sm-9 offset-sm-3">{{ page.source_editeur }}</dd>
              
              <dt class="col-sm-3">Destination</dt>
              <dd class="col-sm-9"><strong>{{ page.destination_nom }}</strong> / {{ page.source_version }}</dd>
              <dd class="col-sm-9 offset-sm-3">{{ page.destination_editeur }}</dd>
              
              <dt class="col-sm-3">Usage-Métier</dt>
              <dd class="col-sm-9">{{ page.usage_metier }}</dd>
              
              <dt class="col-sm-3">Statut</dt>
              <dd class="col-sm-9">
                {% if page.statut == 'publiée' %}
                  <span class="badge badge-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{ page.statut }}</span>
                {% endif %}
                {% if page.statut == 'relecture' %}
                  <span class="badge badge-info"><i class="fa fa-eye" aria-hidden="true"></i> {{ page.statut }}</span>
                {% endif %}
                {% if page.statut == 'brouillon' %}
                  <span class="badge badge-warning"><i class="fa fa-pencil" aria-hidden="true"></i> {{ page.statut }}</span>
                {% endif %}
              </dd>
              
              <dt class="col-sm-3">Mise à jour</dt>
              <dd class="col-sm-9"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ page.maj }}</dd>
            </dl>
            {{ content }}
            <div class="row">
              <div class="col-12 bs-content-footer hidden-print">
                {% include content-footer.html %}
                {% if page.comments %}
                {% include disqus.html %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
